html {
    overflow-y: auto !important;
}

.has-text-success-dark { color: hsl(141, 71%, 35%) !important; }
.has-text-success-light { color: hsl(141, 71%, 85%) !important; }

.has-text-danger-dark { color: hsl(348, 100%, 35%) !important; }
.has-text-danger-light { color: hsl(348, 100%, 95%) !important; }

.tag.table-tag {
    border: 1px solid gray;
}

/* light theme (default) */
.has-text-extreme {
  color: #000;
}

/* dark theme */
:root[data-theme="dark"] .has-text-extreme {
  color: #fff;
}