.text.light.red { color: #FF695E !important; }
.text.light.orange { color: #FF851B !important; }
.text.light.yellow { color: #FFE21F !important; }
.text.light.olive { color: #D9E778 !important; }
.text.light.green { color: #2ECC40 !important; }
.text.light.teal { color: #6DFFFF !important; }
.text.light.blue { color: #54C8FF !important; }
.text.light.violet { color: #A291FB !important; }
.text.light.purple { color: #DC73FF !important; }
.text.light.pink { color: #FF8EDF !important; }
.text.light.brown { color: #D67C1C !important; }
.text.light.grey { color: #DCDDDE !important; }

.text.dark.red { color: #A32222 !important; }
.text.dark.orange { color: #B5540D !important; }
.text.dark.yellow { color: #B58105 !important; }
.text.dark.olive { color: #798E12 !important; }
.text.dark.green { color: #137A3F !important; }
.text.dark.teal { color: #00857D !important; }
.text.dark.blue { color: #1257A2 !important; }
.text.dark.violet { color: #4727A5 !important; }
.text.dark.purple { color: #7C199A !important; }
.text.dark.pink { color: #9E2F6B !important; }
.text.dark.brown { color: #573D29 !important; }
.text.dark.grey { color: #5A5A5A !important; }

.field:not(.disabled) .required.dropdown:has(.default.text),
.fields:not(.disabled) .required.dropdown:has(.default.text) {
    background-color: #fff6f6 !important; /* light pink */
    border-color: #e0b4b4 !important;
}
.field.disabled .dropdown:has(.default.text),
.fields.disabled .dropdown:has(.default.text),
.field.disabled .required.dropdown:has(.default.text),
.fields.disabled .required.dropdown:has(.default.text) {
    background-color: initial !important;  /* Reset to default */
    border-color: rgba(34, 36, 38, .07) !important;
}