# Server Configurations (uncomment SERVER__DOMAIN on live server)
# SERVER__DOMAIN=
SERVER__COOKIE_SECRET=
SERVER__SESSION_SECRET=
SERVER__PORT_DEFAULT=
SERVER__PORT_ADMIN=
SERVER__PORT_USER=
SERVER__PORT_CARRIER=
SERVER__PORT_DRIVER=
SERVER__PORT_SCHOOL=
SERVER__PORT_STUDENT=
# continue ports...

# Site Configurations
SITE__APP_NAME=
SITE__APP_ALIAS=
SITE__APP_DESC=
SITE__APP_AUTHOR=
SITE__COPYRIGHT_OWNER=
SITE__COPYRIGHT_YEAR=

# Database Configurations
DB__MYSQL_HOST=
DB__MYSQL_USER=
DB__MYSQL_PASS=
DB__MYSQL_AES_SESSION_TOKEN=
DB__MYSQL_AES_SSN=
DB__MYSQL_AES_EIN=

# Email Configurations
EMAIL__SENDER=
SMTP__AUTH_USER=
SMTP__AUTH_PASS=

# API Configurations
API__GOOGLE_KEY=

# Storage / File System
DIR__PATH=

# Encryption/Decryption
ENCRYPTION_KEY=