.ui.pusher {
    z-index: 0 !important;
    padding: 20px;
}

.ui.sidebar {
    overflow: visible !important; /* Allows dropdown to be visible outside */
    z-index: 1001 !important;
}

#team-item {
    align-items: center;
    justify-content: center;
    padding: 0 15px !important;
    font-size: 1.2em;
    color: yellowgreen;
}