:root {
    --vh: 100%;
}
.full-height-fix {
    min-height: calc(var(--vh, 1vh) * 100);
}

/* body {
    background: linear-gradient(to bottom, #0066ff 0%, #66ffff 100%);
    background: linear-gradient(to bottom, #ccffff 0%, #33ccff 100%);
} */
.card {
    width: 600px;
    max-width: 100%;
    margin: 10px;
}
.card-title {
    font-weight: 600;
    font-size: 1.18em;
}
.card-footer {
    font-size: .87em;
}
.form-label {
    font-size: .9em;
    font-weight: 500;
}
.form-control, .form-select {
    font-size: .95em;
}

[data-bs-theme="dark"] .accordion-button {
    color: #9df3c5;
}

[data-bs-theme="dark"] .accordion-button:not(.collapsed) {
    /* background-color: #1f1f1f; */
    background-color: rgb(5, 27, 17);
    border-color: rgb(25, 135, 84) !important;
}

.form-check-input:checked {
  background-color: rgb(25, 135, 84); /* green */
  border-color: rgb(25, 135, 84);
}

label.input-required::after {
    content: ' *';
    color: #f57575;
}

.text-secondary {
    color: silver !important;
}

.text-danger {
    color: #f57575 !important;
}

.text-success {
    color: #73c373 !important;
}

.text-warning {
    color: #c7c74e !important;
}