.card {
    width: 600px;
    max-width: 100%;
    margin: 10px;
}
.card-title {
    font-weight: 600;
    font-size: 1.18em;
}
.card-footer {
    font-size: .87em;
}
.form-label {
    font-size: .9em;
    font-weight: 500;
}
.form-control, .form-select {
    font-size: .95em;
}