.ui.container {
    margin: 0 !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 34.28rem !important;
    min-width: 25.71rem !important;
}
.ui.container .header {
    margin-bottom: .2em;
}
.ui.button {
    font-weight: normal;
}
.help {
    margin-top: .35rem;
    font-size: .85em;
    text-align: right;
}
#failed-reg-body section:not(:last-child) {
    margin-bottom: .71rem;
}