.dt-container { min-width: 120rem; }
.dt-action {
    display: flex;
    flex-direction: row-reverse;
    gap: .35rem;
}

.dt-top-toolbar-1,
.dt-top-toolbar-2,
.dt-bottom-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.2rem 0;
}

.custom-dt-toolbar {
    display: flex;
    justify-content: space-around;
    min-width: 60%;
}

.custom-dt-toolbar label {
    padding-right: .8rem;
    font-weight: bold;
}