input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; */
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
    /* appearance: auto; */
}

input, select {
    border: .07rem solid lightpink !important;
}

input:disabled,
select:disabled {
    border: .07rem solid #eee !important;
}

.label.input-required::after {
    content: ' *';
    color: rgb(210, 80, 80);
}

@media (max-width: 768px) {
    .button-label {
        display: none;
    }
}